/**//* Import Material UI color themes */
@import "@material/theme/color-palette";
/**//* Import Material defualt typography */
@import "@material/typography/mdc-typography";
/**//* Theming of the Svelte Material UI components */
$mdc-theme-primary   : #04468B;
$mdc-theme-secondary : #4CAF50;
$mdc-theme-background: #fff;
$mdc-theme-surface   : #fff;
$mdc-theme-error     : $material-color-red-900;
