@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
*,
*::before,
*::after {
  border-width: unset;
  border-style: unset;
  border-color: unset;
}
button:focus {
  outline: unset;
  outline: unset;
}
img {
  border-style: none;
}